<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Vida de Programador</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/latest/jquery.mobile.css">
    <link rel="stylesheet" href="css/vdpr.css">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script>
    $(document).bind("mobileinit", function() {
        $.extend($.mobile, {
            autoInitializePage: false,
            loadingMessage: 'Carregando...'
        });
    });
    </script>
    <script src="http://code.jquery.com/mobile/latest/jquery.mobile.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="js/vdpr.js"></script>
</head>
<body>

<script id="pageTemplate" type="text/template">
<% _.each(paginas, function(pagina) { %>
    <div data-role="page" id="<%= pagina.id %>">
        <div data-role="header">
            <h1 data-role="title"><%= pagina.titulo %> | Vida de Programador</h1>
        </div>
        <div data-role="content">
            <img class="tirinha" src="<%= pagina.src %>" />
        </div>
        <div data-role="footer">
            <div data-role="navbar">
                <ul>
                    <% if (pagina.anterior) { %>
                    <li>
                        <a data-role="button" href="<%= pagina.anterior %>">Anterior</a>
                    </li>
                    <% } %>

                    <li>
                        <a href="<%= pagina.link %>" target="_blank" data-role="button"><%= pagina.link %></a>
                    </li>

                    <% if (pagina.proxima) { %>
                    <li>
                        <a data-role="button" href="<%= pagina.proxima %>">Próxima</a>
                    </li>
                    <% } %>

                </ul>
            </div>
        </div>
    </div>
<% }); %>
</script>


</body>
</html>

